.chart-container {
    width: 47%;
}

.chart {
    min-height: 400px;
}

.big {
    font-size: 16pt;
}

#streak, #streak-length, #streak-percent {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

#streak-input {
    max-width: 80px;
}

.alert {
    max-width: 300px;
}

.hidden {
    opacity: 0;
}

.dice .btn {
    flex: none;
    border-radius: 0;
}

.mt-10 {
    margin-top: 100px;
}

.gap-10 {
    gap: 100px;
}

.mt-10 {
    margin-top: 100px;
}

#random-guess-btns button {
    min-width: 50px;
    min-height: 50px;
}